[2016-09-02 03:37] stgatilov opened #1 "Npm module not found by typescript "node" resolution strategy"
Currently npm package is named "strongly-typed-events", but the definitions file in it is named "StronglyTypedEvents.d.ts". As a result typescript (version 1.8.10) cannot find the module after "npm install strongly-typed-events":
`Error TS2307: Cannot find module 'strongly-typed-events
`
According to node resolution strategy described [here](https://www.typescriptlang.org/docs/handbook/module-reso

[2016-09-02 04:07] stgatilov opened #2 "Exported external package typings file is not a module"
I have installed npm package, and now I try to use it in typescript 1.8.10:
`import events from 'strongly-typed-events';`
This gives me the following error (given that module resolution is fixed, of course):

[code]

It seems that currently the module is not easily usable.

[2016-11-16 14:30] daslicht opened #3 "@Types ?"
HI,
I am using a Webpack based Project which uses @Types.
What is the best way to integrate Strongly-Typed-Events-for-TypeScript in such a project please?

[2016-11-16 14:32] daslicht commented on #2
you dont import d.ts files , you reference them :
[code]

[2016-11-16 14:38] daslicht commented on #2
do you found any solution yet ?

[2016-11-16 15:07] stgatilov commented on #2
Well... sort of.
I have implemented my own version =)

In fact, the implementation is rather simple, given the general idea.
And I don't need any compilcated stuff like asynchronous callbacks anyway.
As an additional bonus, I can now customize everything the way I want it (e.g. specifying method + this as callback).

[2016-11-18 18:14] KeesCBakker commented on #3
I'm not sure, but the typescript d.ts is located in [StronglyTypedEvents.d.ts](https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/blob/master/StronglyTypedEvents.d.ts).

[2016-11-18 18:16] KeesCBakker commented on #1
Will solution 1 work on all platforms? Sounds like the best way to go.

[2016-11-18 19:08] KeesCBakker commented on #1
Should be resolved now. Can you check if the latest changes solves this problem?

[2016-12-16 06:04] avber opened #4 "Add dispose method"
Hi,

could you add dispose/clear method to clear all subscriptions?

It will be useful for scenarios where objects are created and destroyed frequently.

Thanks

[2017-02-06 05:22] yingDev opened #5 "Error when using Webpack UglifyJsPlugin mangle=true"
When I have this config in webpack.config.js:
[code]
resulted:
`i.default.createEventDispatcher is not a function.`
Tested in Node and browser.

I made some hack in the source code, and it worked:
(Not sure if it's the correct way)

[code]

[2017-03-15 16:11] KeesCBakker commented on #5
Looks great. Can you make a pull request?

[2017-03-15 16:11] KeesCBakker commented on #4
I'll look into it!

[2017-03-15 18:22] KeesCBakker commented on #1
Any luck?

[2017-03-15 18:23] #2 closed

[2017-03-15 21:09] #3 closed

[2017-03-15 21:20] KeesCBakker commented on #4
I'll add it to the next version.

[2017-03-16 09:54] KeesCBakker commented on #4
Added a clear method to clear all subscriptions to a dispatcher.

[2017-03-16 15:34] #4 closed

[2017-03-16 15:35] KeesCBakker commented on #5
Can you check if you have the same problem after the latest updates?

[2017-03-16 15:35] #1 closed

[2017-04-02 13:30] #5 closed

[2017-12-12 14:55] KmaxKmax opened #9 "Unsubscribe during dispatching Events"
Hi, I faced problem during dispatching events. I have few objects, that are subscribed for target object update. When the target object is updated the dispatcher is going through the array of subscribers and runs their reactiong routines. But my app logic in those reaction routines could decide to unsubscribe. The unsubscription goes well, but it is directly affecting the subscription array during

[2018-01-30 15:57] koertvankleef opened #10 "Handlers use implicit any type"
When building using the library with definition files in a project, the following can occur:
[code]
strongly-typed-events.ts needs to define the return type for such cases.

[2018-02-17 10:55] KeesCBakker commented on #10
How can we solve this one? I don't have this setup.

[2018-02-17 10:56] KeesCBakker commented on #9
The projects uses unit testing. Could you create a fork with a unit test to mimic this behavior?

[2018-02-17 10:57] KeesCBakker commented on #9
Makes it a bit easier to debug.

[2018-02-17 11:00] KeesCBakker commented on #10
I see you created a pull request. We'll be rolling this one out.

[2018-02-17 11:00] #10 closed

[2018-02-18 12:38] KeesCBakker commented on #9
I think the following code will help you and I'll be adding it soon:
[code]

[2018-02-18 13:59] KeesCBakker opened #12 ""one" events are not removed from dispatcher"
When an event is registered with a `one` construction, it should be removed after it has run. Currently it still is available to the `has` function.

[2018-02-18 14:01] #12 closed

[2018-02-18 14:02] KeesCBakker commented on #9
This bug is fixed by the latest commits.

[2018-02-18 14:02] #9 closed

[2018-02-23 15:21] sara3988 opened #15 "Transpiling issue with latest versions"
![image](https://user-images.githubusercontent.com/19271236/36601048-6dbde4d4-18b4-11e8-8e0a-ca4a58c19a15.png)

I updated the version from 1.0.1 to the latest, and faced this issue while running some unit tests.
Looks like the issue is with transpiling :

`Object.defineProperty(exports, "__esModule", { value: true });`
`**const** subscription_1 = __webpack_require__(4);`
`/**`
` * Base class for i

[2018-02-24 14:11] KeesCBakker commented on #15
Hi Sara, how are you transpiling this? Looks like const is something that's not available.

[2018-02-24 15:38] KeesCBakker commented on #15
Just pushed a new version to NPM. Can you check if version 1.1.10 works for you?

[2018-02-26 08:10] sara3988 commented on #15
Hi Kees,
I can confirm that the v1.1.11 seems to have fixed the issue I was facing.
Yes, my compiler options was set to target: es5, and I had issues with my tests running on phantomJS requiring ES5 only.

I can close this issue, if there is nothing else you would like investigate on this.

[2018-02-27 04:41] KeesCBakker commented on #15
Cool! Thanks for reporting.

[2018-02-27 04:41] #15 closed

[2018-03-22 20:57] haroldma opened #19 "Library bundle for easier consumption across modules"
In our application we have various projects that are bundle independently and we would like to be able to use this library across all of them.

But the npm package does not come with a UMD bundle that we could set as an external in webpack.

[2018-03-23 03:01] KeesCBakker commented on #19
Hi @haroldma, I've never used webpack. How hard is it to make such a bundle?

[2018-03-23 09:34] KeesCBakker commented on #19
I'm not sure but I think we have to add something to [ste-browser](https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/tree/master/packages/ste-browser).  These contain all the files that can be used in the browser (created using browserify and uglifyjs).

[2018-03-23 18:16] haroldma commented on #19
It *should* be pretty straightforward. I'll see if later tonight I can get a PR out configuring it.

[2018-03-24 02:38] haroldma commented on #19
So, how do you normally build ste-browser? Running `build` fails since there's no src folder.

BTW you should consider looking into [`rush`](https://www.npmjs.com/package/@microsoft/rush), since you're managing so many npm packages in one repo.

[2018-03-24 09:52] KeesCBakker commented on #19
Great catch! The .js files of the package were ignored. They are now part of the repo per [82749c8](https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/commit/de1856dd29293a0aac2da0de33c30deaaa73626f).

I'm building the project using Lerna. This will keep all packages in check. Invidual packages are build by doing an `npm run build`. When I want to build all packages I'll use `lern

[2018-03-26 00:46] haroldma commented on #19
Gotcha. Rush is a similar tool but it also does linking across projects. So it never npm install any dependencies inside the project but creates a syslink under node_modules for it. Pretty handy.

Here's a quick PR setting webpack up. #20

[2018-03-26 11:26] KeesCBakker commented on #19
Thanks for the PR, I'll take a look on it.

Lerna does the following:
- npm install all external dependencies of each package.
- _Symlink together all Lerna packages that are dependencies of each other._
- npm run prepublish in all bootstrapped packages.
- npm run prepare in all bootstrapped packages.

Looks similar. If Rush is faster or easier, I'll be happy to add it.

[2018-03-28 00:15] haroldma commented on #19
Oh, pretty similar indeed. I have no experience with lerna but if it's working for you keep it.

I recommend rush at first since thinking you didn't have a system like that set up :)

[2018-04-05 06:50] KeesCBakker commented on #19
Should be fixed by merge.

[2018-04-05 06:50] #19 closed

[2018-04-05 06:50] KeesCBakker commented on #19
Thanks @haroldma!

[2018-04-15 15:24] binki opened #21 "Links in README as rendered by npmjs.com broken"
## Expected Behavior
If I click “Check this” at [the npmjs page](https://www.npmjs.com/package/ste-signals), I should see [this page](https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/blob/master/documentation/HowToUseInNodeJs.md).

## Current Behavior
When I click “Check this” at [the npmjs page](https://www.npmjs.com/package/ste-signals), I see [this 404 page](https://github.co

[2018-04-15 19:17] KeesCBakker commented on #21
Great find. The problem existed in the other packages as well. Fixed them all. Thanks for reporting this issue!

[2018-04-15 19:17] #21 closed

[2018-05-04 15:11] JohnArcher opened #24 "How to use STE with namespace project?"
I am relatively new to TypeScript, so excuse me if that is a dumb question.

My web project is build with namespaces (https://www.typescriptlang.org/docs/handbook/namespaces.html) instead of modules. I use the latest version of STE, so I updated my package.json like so and did an npm install (all fine):

[code]

Now, with namespaces I do not use import statements, if I understand it correctly (whe

[2018-05-06 13:45] KeesCBakker commented on #24
I've never used namespaces before. It looks like something that should be supported. If you want to use all of STE, the "strongly-typed-events": "^1.4.3" should be enough. This package references the others, so you should not have to include.

I'll have to investigate what's going on. Do you have some sample code?

[2018-05-07 09:55] JohnArcher commented on #24
The other packages: Yeah, I already thought that, but wanted to make sure that I really have all I need. But thanks for the hint.

Here is same simple sample code:

[code]

This leads to "Cannot find name 'SimpleEventDispatcher'."

I did a little test with STE 1.0.1 where you shipped a single .d.ts file. I get it to work with namespaces, when I modify that file in the way that I delete all occurre

[2018-05-08 06:18] KeesCBakker commented on #24
I'm using the following:

    import { SimpleEventDispatcher, IEvent } from 'strongly-typed-events'

    namespace myNamespace {
        export class MyClass {
            private _myEvent = new SimpleEventDispatcher<number>();

            public get MyEvent(){
                return this._myEvent.asEvent();
            }
        }
    }

My tsconfig.json looks like this:

    {
        "compileO

[2018-05-08 14:04] JohnArcher commented on #24
Thanks for that!

There are two differences to my environment:
1. In tsconfig, I set module to "none", because I use no module loader. When I set it to "commonjs", the definition is recognized (but I am not sure how that would influence the build process, but that doesn't matter right now, as see point 2)
2. With "commonjs" the definition is recognized, but it breaks my other namespaces, as I writ

[2018-05-10 06:14] KeesCBakker commented on #24
**Modules v. Namespaces**
If my understanding is correct, there are 2 things at play here: namespaces and module resolution. The zip shows that namespaces work. I think it's the way modules are resolved. When 'none' is used, it looks like an import is not allowed.

**Module**
STE is build as an external module. If my understanding is correct, the namespace is used internally:

**Resolution**
I can

[2018-05-11 09:32] JohnArcher commented on #24
Oh dear, sorry, that I keep you busy with this basic stuff (but I hope it is still interesting for you in a way). :-/

Are you sure, that namespace and import work in the zip, that **I** attached? In my tsconfig.json I set `"module": "commonjs"`, but I get this namespace error:
![screenshot_43](https://user-images.githubusercontent.com/990724/39916828-fca193d8-550b-11e8-9b61-b38304ff510a.png)

I a

[2018-06-20 19:35] tzachshabtay opened #25 "Feature request: Get subscribers count"
Great library!
It would be useful to be able to get the number of subscriptions to an event (even better would be to get the subscriptions as a list, like in c# events: https://msdn.microsoft.com/en-us/library/system.delegate.getinvocationlist(v=vs.110).aspx).

Current workaround I'm using: `(dispatcher as any)._subscriptions.length`

[2018-06-22 15:20] KeesCBakker commented on #25
Great. I'll look into it.

[2018-08-14 09:40] JohnArcher commented on #24
Hey there @KeesCBakker !

Any news on this? Maybe this is also interesting, as it shows a similar problem which I and others had with moment.js: https://github.com/moment/moment/issues/3763

Adding `export as namespace moment;` to the moment.d.ts helped here.

Thanks in advance!

[2018-12-16 16:59] KeesCBakker commented on #25
Hm... looks like too much impact on the code as TypeScript won't let me implement this easily.

[2018-12-16 18:02] tzachshabtay commented on #25
What's the problem?

[2018-12-17 13:31] KeesCBakker commented on #25
I tried to implement it with an interface, but I could not get it done. Maybe you can give it a try and submit a PR?

[2019-01-03 08:02] KeesCBakker commented on #24
Not sure how to proceed here. Maybe you can submit a PR with this behavior?

[2019-04-04 12:38] JohnArcher commented on #24
Hey, unfortunately I don't have a glue how to achieve this, so I cannot provide a PR. :-( Sorry. I am also unsure how to proceed now. I may have a look at that soon. Thanks anyway!

[2019-04-15 01:25] andrewleader commented on #25
I'd find this useful too! I'll use tzachshabtay's workaround in the meantime, but would love something part of the library!

[2019-05-27 16:39] babakks opened #28 "Add support for `thisArg`"
Due to the nature of JavaScript, method contexts (i.e., `this` reference) could change depending on the way of invocation. In STE, using `subscribe` or `sub` without binding the listener method to the calling context would result in unexpected results.

For example:
[code]

Here, the first subscription results in unexpected behavior due to its dynamic context, however, this is not totally unexpect

[2019-06-18 06:30] KeesCBakker commented on #28
Makes sense, but I'm not totally sure how to implement this. Could you create a PR for this?

[2019-06-18 13:41] KeesCBakker commented on #25
Is now fixed in 1.5.*. Please upgrade.

[2019-06-18 13:41] #25 closed

[2019-06-18 13:42] KeesCBakker commented on #24
Any new thoughts on the matter?

[2019-06-19 07:34] JohnArcher commented on #24
Thanks for asking. Unfortunately not. :-( I am totally lost here. I think I have to live with it. It would be ok if you close this issue and we can reopen if someday I have a solution.

[2019-08-02 05:05] DustinWoods opened #37 "Non-Uniform EventList and SimpleEventList using TArgsMap"
Update (08/06): Revised the issue to focus on the issue rather than the proposed solution.

## Background
The EvenList and SimpleEventList classes are unable to assist with non uniform event arg types. If I were to create an EventList for dispatching events with different event arguments types (lets say string and number), I would need to do this:

[code]

This has several weaknesses.
1) There is

[2019-08-02 18:06] DustinWoods commented on #37
Thinking on this some more - it seems less appropriate to replace existing EventList and SimpleEventList class signatures, unless there's a way to overload and default to normal behavior.

[2019-08-03 12:45] vitaly-t commented on #37
Wouldn't life be easier with events created separately? Here's example with [sub-events](https://github.com/vitaly-t/sub-events):

[code]

And then you can organize `[eventOne, eventTwo]` into any list you want.

[2019-08-04 01:51] DustinWoods commented on #37
Sure, and I think this is the intended design for ste-events too. But what this doesn't cover is how the events are organized. You mention it briefly (ie "list or map"). Let me expand on your example further and show you where my proposal adds benefit.

[code]

In this example, I have a subscribe function that accepts a string for the event name, and a second argument for the callback. Nothing fan

[2019-08-04 15:15] vitaly-t commented on #37
@DustinWoods I think that once you condense types into an array, you lose the types. TypeScript cannot revert/restore strict types from the array that way, IMO.

[2019-08-04 15:28] DustinWoods commented on #37
Sure, Arrays have uniform type (with exception of tuples) - but we're not using arrays, using maps in this case (EventList and SimpleEventList use maps for storing key/value pairs of Dispatchers).

Hey btw thanks for taking the time to offer feedback and suggestions.

[2019-08-06 18:04] DustinWoods commented on #37
Ping @KeesCBakker - I'd love to get your opinion on this proposal.

[2019-08-06 18:38] vitaly-t commented on #37
@DustinWoods This is how it works in TypeScript:

[code]

[2019-08-06 18:45] DustinWoods commented on #37
Yep yep @vitaly-t. This is pretty similar to how I've gone about implementing it. keyof and index types are super handy.
Just to be clear, I'm not having issues or looking for a solution, I'm proposing an enhancement to ste-events to incorporate this in a class.

[2019-08-07 04:50] KeesCBakker commented on #37
Hey guys, thanks for the ping! The package was made to support strongly typed events. I didn't come across a non-uniform type before. I see you removed the proposal. Do we know why the generic situation does not work?

[2019-08-07 04:52] KeesCBakker commented on #24
Let's see what to community does in the future.

[2019-08-07 04:52] #24 closed

[2019-08-07 07:24] KeesCBakker commented on #37
I first thought it was a compilation problem, but everything works:
<img src="https://i.imgur.com/luaUHJi.png"/>

The eventlist was created as a way to store multiple events for a single object, not as a way to _expose_ events. Events should always be exposed by the event, and here is were I have a problem:
<img src="https://i.imgur.com/voHw0R6.png" />

So it looks like we need to find a different

[2019-08-08 18:23] DustinWoods commented on #37
Thanks for chiming in @KeesCBakker. Yeah, to clarify there's no issue with the code I posted above (with number | string). That was to show how EventList with a union types has drawbacks.

Also I did not consider the asEvent() method :thinking:

@KeesCBakker would you have time to look at a rough merge request and see how I propose this could be implemented?

[2019-08-08 21:13] DustinWoods commented on #37
I put together an a working pull request: #42
This might help explain the functionality I'm proposing to add. It works great for my use cases, maybe others might benefit from it as well?

[2019-08-10 22:16] vitaly-t commented on #37
@DustinWoods The idea of using events via strings made me [highlight it in my own module](https://github.com/vitaly-t/sub-events/wiki/Event-List). Cheers!

[2019-08-11 08:40] KeesCBakker commented on #37
I've merged your pull request, implemented a `NonUniformSimpleEventList` based on your code and added some documentation: https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/blob/master/documentation/HowToAddMultipleEventsToAClass.md#non-uniform-event-lists. The feature has been pushed to NPM under 1.6. Thanks for your contribution @DustinWoods. Thanks @vitaly-t for participating i

[2019-08-11 08:40] #37 closed

[2019-08-11 08:41] KeesCBakker commented on #28
@babakks, I'm closing this issue. If you have a PR, I'm happy to look at it.

[2019-08-11 21:35] DustinWoods commented on #37
Thanks @KeesCBakker glad you found this addition valuable!

@vitaly-t I'll give sub-events a look over. Glad the discussion helped you out.

[2020-01-13 15:09] xFahdonx opened #45 "Unsubbing bound method doesn't work"
Trying to unsub a bound method from a SignalDispatcher. No unsubbing is finding the place.

## Expected Behavior
I tried subscribing to an event with a bound method to access a class like this:

[code]

## Current Behavior
However, when I try to unsubscribe from the event with the same method, It won't subscribe. Removing the bind works however but then I can't access 'this' in the component.

##

[2020-01-17 04:22] KeesCBakker commented on #45
I'm not sure what you are trying to do. I could not get the example to compile, is this what you are trying to do: https://repl.it/repls/SpanishPointlessScientist

[code]

[2020-01-17 04:37] KeesCBakker commented on #45
The main problem is that the `component.Update.bind(component)` will generate a reference that cannot be know by the class. It doesn't "know" it, so it cannot unsubscribe to it. It needs to know how it was called in order for it to unsubscribe, but I think this goes agains OO priciples; something like this will work:

[code]

[2020-01-17 04:41] KeesCBakker commented on #45
What if the whole class is agnostic to the event?

[code]

[2020-01-17 10:28] xFahdonx commented on #45
Right so let me explain al little more what I'm trying to do. The code I first posted is just a small example but it looking back to it, it does not explain what I'm trying to do.

So I have 2 classes. A main App class with components as an array. In this App, I have 3 loops called Awake, Start and Update. These are events. components inside the app subscribe to all the loops with there own Awake,

[2020-01-17 18:22] KeesCBakker commented on #45
Ah, that example helps a lot. I've looked at it, and the main problem is knowing which object is connected to which handler. When I do the following, I created something that works.

[code]
Is this something that helps in your case? Or do you think the library should support your usecase better?

[2020-01-30 02:35] douglasg14b opened #46 "Webpack Build Errors: An accessor cannot be declared in an ambient context"
## Expected Behavior
Project builds with webpack through Vue UI.

## Current Behavior
It does not, it throws errors.

## Steps to Reproduce

1. Start a webpack/Vue Project
2. Add this library
3. Try to build

(Not sure if this is reproducible that way?)

## Enviornment

**TypeScript 3.5.3**

[code]

[2020-01-30 02:41] douglasg14b commented on #46
Potentially related: https://stackoverflow.com/questions/59502139/ts1086-an-accessor-cannot-be-declared-in-an-ambient-context

Updating TypeScript to see if that resolves this. If it does, this library should make it clear that TS 3.6+ is a requirement.

[2020-01-30 06:10] douglasg14b commented on #46
Upgrading TypeScript resolved this issue.

[2020-01-30 06:14] KeesCBakker commented on #46
That's a great find. Do we need to change something to the package? Or was upgrading your project enough?

[2020-01-30 06:15] KeesCBakker commented on #46
I'll add a comment about being on 3.6+

[2020-01-30 06:18] KeesCBakker commented on #45
I'm closing the issue due to inactivity.

[2020-01-30 06:18] #45 closed

[2020-01-30 18:41] douglasg14b commented on #46
I believe this should be corrected, as some may have issues upgrading to TS 3.6 if their dependencies don't support it.

I'm not sure what the issue is, but that SO issue is a good start.

[2020-01-30 18:44] douglasg14b commented on #46
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#class-field-mitigations

[2020-04-12 19:57] mathiasi commented on #46
I've just created a fresh AspNet Core project with Angular and I'm facing the same issue however I'm on TypeScript 3.8 so I'm not certain why it still isn't working for me:

[code]

[2020-06-09 09:53] KeesCBakker commented on #46
@mathiasi, did you find a solution?

[2020-06-09 21:21] mathiasi commented on #46
@KeesCBakker Adding `"skipLibCheck": true` to `tsconfig.json` was my only solution but it seems more like a workaround :)

[2020-06-13 22:34] sionzeecz opened #48 "Feature request: Make events cancellable"
Sometimes a "third-party" developer wants to cancel some task. Imagine an event of a data change where developer wants to abort the change. He should be able to call eventManagement.cancel() where the dispatch function at event should return boolean if event was cancelled.

Of-course this should be possible only in "pre-events" or developer makes undo action when `event.isCancelled()`.

## Possibl

[2020-07-01 05:52] KeesCBakker commented on #48
This is quite a feature to be able to cancel events. I need to give it some extra thought, as it should not break anything.

I'm not sure if it is wise to provide a whole new `eventManagement` object.

The current events have no base class. I could introduce an interface for this.

🤔

[2020-07-01 05:55] KeesCBakker commented on #46
I read <a href="https://github.com/storybookjs/storybook/issues/9463#issuecomment-574693419">others</a> converted
[code]
to
[code]

Might be an option for us as well, but I don't know if it messes the existing usages.

[2020-10-28 07:50] TakhirMamirov opened #57 "Handle event in Stencil app"
I have a Stencil app with several pages. One page shall be notified and reload if something happens on another page. How can I listen for signal event on another page?

[2020-10-28 21:04] michelevirgilio opened #58 "Cannot read property 'DispatcherBase' of undefined"
I'm trying to use ste-browser package, but by writing this html i get the error in the title:

[code]
maybe i'm missing something or the documentation needs some integrations?
Thanks

[2020-10-30 04:38] KeesCBakker commented on #57
Sorry, I have no familiarity with Stencil apps.

[2020-10-31 10:52] KeesCBakker commented on #58
The docs state the following:

Include the script from this NPM package or from a CDN:
[code]
The following test still works on my machine: https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/blob/master/packages/ste-browser/test/clock.html

[2020-10-31 12:27] michelevirgilio commented on #58
Hi, thank you for your reply.
So i need to use the whole strongly-typed-events.js, if i would to use only simple events is it possible?

[2020-11-03 04:43] KeesCBakker commented on #58
Currently that's the only one that's possible, but I will check if I can make all versions "browserfied".

[2020-11-03 05:42] KeesCBakker commented on #58
Please check if the latest release works for you: https://www.npmjs.com/package/ste-browser

[2020-11-03 07:29] KeesCBakker commented on #58
Should now work with the latest version:

[code]

[2020-11-03 09:04] michelevirgilio commented on #58
Thank you, the error is gone!

[2020-11-04 04:35] #58 closed

[2020-11-12 12:50] igorosabel opened #64 "Angular warning"
Hi!

I just started using this tool and I really love it, kudos for the work :D

I am using it on a Game I am making using Angular, so that classes can talk to each other with events, and when I build the Angular project using `ng build --prod` I get this warning:
[code]
## Expected Behavior
The expected behavior would be to see no warning.

## Current Behavior
There is no problem, it's just a war

[2020-11-15 11:04] KeesCBakker commented on #64
I think it is due to the `tsconfig.json` that states:

[code]

[2020-11-15 11:05] KeesCBakker commented on #64
The last change to it is from `Mar 9, 2018` so it might be time to switch to a newer setup.

[2020-11-15 11:18] KeesCBakker commented on #64
Seems like more frameworks are suffering from this: https://github.com/angular/angular-cli/issues/18025

[2020-11-15 12:43] KeesCBakker commented on #64
Looks like you should whitelist the module like it is done <a href="https://angular.io/guide/build#configuring-commonjs-dependencies">here</a>:

[code]

[2020-11-15 13:07] KeesCBakker commented on #48
I have a `stopPropagation()`, would that work for you?

[code]

[2020-11-15 22:11] igorosabel commented on #64
Hi! Doing that, as the documentation says, would "disable the warnings", not fix the issue. And I don't want to disable any warnings 😊 But thanks for the quick response anyway.

[2020-11-16 13:53] KeesCBakker commented on #64
I'm no sure if it is even fixable. Switching the model to something else than `CommonJs` is not recommended, if I understand this paged correctly: https://www.typescriptlang.org/docs/handbook/2/modules.html

[2020-11-16 17:52] igorosabel commented on #64
I read the docs you pointed and I saw that there is still no "standard" defined, so anything (CommonJS, AMD or ES6 modules) could be the outcome:

I've seen your code is CommonJS style, so:

It's Angular who says this :

So, ok, as there is no "well" or "wrong" because there is no standard defined yet, I'll close this issue.

Thanks for the docs, I think I've learned something new and that's somet

[2020-11-16 17:52] #64 closed

[2020-11-16 18:37] KeesCBakker commented on #64
Ah thanks for your kind comments. I try to keep it as close to Node.js as possible, but I'm happy to learn that it is usable in Angular (as I would expect).

[2020-11-16 21:18] KeesCBakker commented on #48
Version 2.0 should return the status to your dispatch. The reason I do not call it cancel is because the event might have been handled by previous handlers. `dispatch` will return an IPropagationStatus with a `propagationStopped` boolean. When a `dispatchAsync` is done, no status is returned, because those events are fire and forget events triggered by a timeout.

This is what will come back: http

[2020-11-16 21:19] KeesCBakker commented on #48
Also working on event handlers with a Promise implementation. Those will be stoppable as well, which might interest some. Check: https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/blob/v2.0/packages/ste-promise-events/src/PromiseEventDispatcher.ts

[2020-11-17 06:07] KeesCBakker commented on #46
I'm closing the issue. The issue can be resolved by upgrading TypeScript. Thanks for participating guys.

[2020-11-17 06:07] #46 closed

[2020-11-17 06:07] KeesCBakker commented on #48
Closing the issue. Version 2.0 is now released and with it you should be able to implement your use case.

[2020-11-17 06:07] #48 closed

[2020-11-17 06:08] KeesCBakker commented on #57
Closing the issue. Please let me know if you have further details.

[2020-11-17 06:08] #57 closed

[2020-11-19 04:52] dependabot-preview[bot] opened #69 "Dependabot can't parse your package-lock.json"
Dependabot couldn't parse the package-lock.json found at `/packages/ste-browser/package-lock.json`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/KeesCBakker/update-logs/55518212).

[2020-11-19 06:40] #69 closed

[2020-11-19 13:44] OkanPinar commented on #28
Hello,

I know it is closed and old however it is a requirement i think. Can function context be added as optional parameter to the subscription function?
[code]

[2020-11-20 04:56] dependabot-preview[bot] opened #71 "Dependabot can't parse your package-lock.json"
Dependabot couldn't parse the package-lock.json found at `/packages/ste-browser/package-lock.json`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/KeesCBakker/update-logs/55698340).

[2021-01-19 04:48] #71 closed

[2021-02-06 23:47] Kassenzettel commented on #28
Hello,

@babakks
I love your eventsystem package and would be happy, to get the optional "context" parameter in a future version. Are you already working on that?  As a workaround I use actually an arrow function to get the instance of the class, what the event is subscribed.

Instead of
..
this.foo.onBar.subscribe(bar);
...

I did something like that:
....
  this.foo.onBar.subscribe(() => {

[2021-03-03 17:00] scottmbulloch opened #104 "Build failing on v2.1.2"
Latest version of strongly-typed-events package has a dependency of `ste-core@^2.1.1` which does not appear to be published yet, the latest is `2.0.9`.

https://www.npmjs.com/package/ste-core

This is causing build to fail, I found the exact same issue in your Travis CI build #603.
https://travis-ci.org/github/KeesCBakker/Strongly-Typed-Events-for-TypeScript/builds/761263757

[2021-03-10 07:47] edzis opened #112 "Matching ste-core not published for ste-simple-events"
## Expected Behavior
When I install latests `ste-simple-events` (2.1.2 on npm) it installs `ste-core` dependency.

## Current Behavior
Installation fails to find `ste-core@2.1.2` and asks to choose a different version.

[2021-03-10 09:38] KeesCBakker commented on #104
Should be fixed today in 2.1.3, can you check?

[2021-03-10 09:39] KeesCBakker commented on #112
@edzis, thanks for reporting. Just published version 2.1.3, this one should be OK, can you check?

[2021-03-10 10:04] KeesCBakker commented on #112
Looks like the failing build had to do with invalid casing. On Windows-bases systems everything was fine, on Unix-based systems stuff went wrong. Should be fixed in 2.1.5.

[2021-03-10 15:37] scottmbulloch commented on #104
Confirming this is now fixed for me on 2.1.5. Thanks!

[2021-03-10 15:37] #104 closed

[2021-03-11 07:55] edzis commented on #112
Installing latest went without issues. Thanks!

[2021-03-11 07:55] #112 closed

[2021-03-16 07:22] matanshapira opened #119 "Using the 'arguments' keyword crashes 'Edge dev tools'"
https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/blob/5392bdbcfb87c06b61dfe14d9a8215ab029d37e8/packages/ste-promise-simple-events/src/PromiseSimpleEventDispatcher.ts#L46

Replacing with `[args]` solves the issue.

[2021-07-19 15:02] emielvangoor opened #251 "Cannot load module: does not provide an export named 'SimpleEventDispatcher'"
Hi all!

I've got a problem when loading the package in my Typescript application. I've installed the package using yarn:
`yarn add strongly-typed-events`.

When i run my application i get the following error in the console of the browser.

[code]

I think it has something to do with the way Typescripts loads the libraries? (i've got limit knowledge on ts.)

I've got the following `tsconfig.json`:

[2021-07-19 15:39] KeesCBakker commented on #251
What version of the package are you using.

[2021-07-19 16:30] emielvangoor commented on #251
Hi Kees,

Sorry i didn't mention it, i'm using version `"strongly-typed-events": "^2.1.8",`

[2021-08-06 17:05] cmcnicholas opened #269 "TypeError: Class extends value undefined is not a constructor or null"
When bundled with Rollup (using vite https://vitejs.dev/) there is a circular reference on `ste-core`'s `DispatcherBase`

## Expected Behavior

Should bundle correctly.

## Current Behavior

![image](https://user-images.githubusercontent.com/41394833/128546030-228bfbbf-3978-4436-aee7-2abc68063cd4.png)

## Possible Solution

## Steps to Reproduce

## Context (Environment)

TypeScript with Vue using

[2021-08-09 05:54] KeesCBakker commented on #269
Cool I'll look into it. What version are you using?

[2021-08-09 06:19] KeesCBakker commented on #269
I'm not familiar with Vite. Can you make a small setup that reproduces the issue?

[2021-08-09 06:19] KeesCBakker commented on #251
Does the latest version suffer from the same problem?

[2021-08-09 06:36] KeesCBakker commented on #251
If I look at this one, it works: https://replit.com/@KeesCC/DistinctOtherFunction#index.ts. I've tried it with `"strongly-typed-events": "^2.1.8"`. Might it have something to do with the `tsconfig` property `module`? When I switch it to `esnext` it looks like it fails, but not with the same error.

Can you send me a small setup of this error?

[2021-08-09 09:11] cmcnicholas commented on #269
https://github.com/cmcnicholas/ste-simple-events-circular-ref

you can run `npm run build` then `npm run serve` to test, check the console, this is pretty much an absolute minimum viable repo

[2021-08-09 09:11] cmcnicholas commented on #269
this is latest version

[2021-08-31 12:14] riffy commented on #251
Hello, sorry for jumpin into this issue. I encountered the same issue a while ago (~ 6months). I remember that two things were causing this:
1. `tsconfig.json` with `"module": "esnext"` and `"moduleResolution": "node"`
2. `package.json` with `"type": "module"`

But those properties were necessary in my case, since I am developing a 'plugin' for a system (GTA V alt-V Multiplayer) using this neat li

[2021-08-31 12:54] KeesCBakker commented on #251
@emielvangoor does the setup of @riffy look a bit like the setup in which you encountered the problem?

[2021-08-31 13:04] emielvangoor commented on #251
It does. My `tsconfig.json` is the same as @riffy with `"module": "esnext"` and `"moduleResolution": "node"` but i don't have a `"type": "module"` in my `package.json`.

[2021-08-31 13:05] KeesCBakker commented on #251
So it narrows probably down to  `"module": "esnext"` and `"moduleResolution": "node"` 🤔

[2021-08-31 16:48] riffy commented on #251
@emielvangoor I just tried to recreate the issue with your `tsconfig.json`, but I could not 100% recreate it, because my error message now shows (but I remember I had the same issue as you)
[code]

If you are allowed to change the `tsconfig` in your project, you could try to change the [module ](https://www.typescriptlang.org/docs/handbook/modules.html)to `"CommonJS"` as `require` is then used ins

[2021-10-17 10:50] AndiRudi commented on #269
I have the same issue in a svelte based setup with rollup. When I do `import { EventDispatcher } from "strongly-typed-events";` and run the application it reports
[code]

[2021-11-10 09:19] KeesCBakker commented on #269
I'm not sure what we can do to fix this problem. I love to do a major version update if we have a fix.

[2021-11-10 09:19] KeesCBakker commented on #251
I'm not sure what we can do to fix this problem. I love to do a major version update if we have a fix.

[2021-11-10 09:41] KeesCBakker commented on #269
@cmcnicholas, looks like the browser version does not have this problem: https://cdn.jsdelivr.net/npm/ste-browser@latest/dist/strongly-typed-events.min.js

Wondering what's different. Can you check what https://www.npmjs.com/package/ste-browser does for you?

[2021-11-10 09:43] KeesCBakker commented on #119
Can you check if the browser version works for you? https://www.npmjs.com/package/ste-browser

[2021-11-10 12:13] riffy commented on #251
Its no necessarily a problem of your code, but rather a misbehavior of config and buildoptions and the different ecmascript versions. I will invest some time at the weekend and make a PR if I find a possible solution

[2021-11-10 13:29] KeesCBakker commented on #251
I think the issue is related to: https://github.com/KeesCBakker/Strongly-Typed-Events-for-TypeScript/issues/269

[2022-03-23 09:27] KeesCBakker commented on #269
Should be fixed now since version `3.0.1`, can you please check?

[2022-03-23 09:28] KeesCBakker commented on #269
@silveredgold seems to have found a fix.

[2022-03-23 09:28] KeesCBakker commented on #251
Could be fixed now since version 3.0.1, can you please check?

[2022-05-02 11:50] KeesCBakker commented on #269
I'm closing the issue due to inactivity.

[2022-05-02 11:50] #269 closed

[2022-05-02 11:50] KeesCBakker commented on #251
I'm closing the issue due to inactivity.

[2022-05-02 11:50] #251 closed

[2022-05-02 11:50] KeesCBakker commented on #119
I'm closing the issue due to inactivity.

[2022-05-02 11:51] #119 closed

[2022-09-01 04:16] KeesCBakker commented on #28
Happy to look at a PR if somebody implements this feature.

[2022-09-01 04:16] #28 closed